div.tooltip {
  align-items: center;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  height: 20px;
  justify-content: center;
  padding: 8px;
  pointer-events: none;
  position: absolute;
  width: auto;
}

.WorldMap__legend {
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #fff;
  border-radius: 5px;
  bottom: 2%;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: bold;
  height: 65px;
  position: absolute;
  right: 2%;
  width: 125px;

  .WorldMap__legend-item {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 50%;
    justify-content: center;

    .WorldMap__legend-symbol {
      display: flex;
      padding: 5px;
    }

    .WorldMap__legend-label {
      display: flex;
      padding: 5px;
    }
  }
}

.WorldMap {
  #mapSvg {
    height: 100vh;
    width: 100vw;
  }

  .country {
    fill: none;
    stroke: darken(lightgray, 30%);
    stroke-width: 0.5px;
  }

  .origin-point {
    animation: fadeIn 10s ease-in;
    z-index: 10;

    &--origin {
      fill: #e62e6b;
    }

    &--destination {
      fill: #005dff;
    }
  }

  .connection-line {
    animation: dash 5s linear;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    stroke: #29cc96;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke-linecap: round;
    stroke-width: 1;
  }

  .connection-line--hover {
    stroke: #e62e6b;
    stroke-width: 2px;
    transition: all 100ms linear;
  }
}

.WorldMap__footer {
  bottom: 2%;
  left: 2%;
  position: absolute;

  .WorldMap__title,
  .WorldMap__sub-title {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    margin-top: 0;
    text-align: center;
    text-shadow: 3px 4px 3px rgba(230, 46, 107, 0.25);
  }

  .WorldMap__title {
    font-size: 36px;
    margin-bottom: 15px;
  }

  .WorldMap__sub-title {
    font-size: 18px;
    margin-bottom: 0;
  }

  .WorldMap__buttons {
    display: flex;
    justify-content: center;
    padding: 20px 10px 0;
  }

  .WorldMap__btn {
    background: rebeccapurple;
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.35);
    color: #fff;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    margin: 0 10px;
    padding: 10px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
